/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

/* LOGIN BAR */
#login-bar {
  position: fixed;
  top: 0;
  left: 300px; /* Match sidebar width */
  width: calc(100% - 300px);
  height: 60px;
  background-color: #383F369C;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: #444;
}

/* USER MENU DROPDOWN */
.user-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-menu:hover {
  color: yellow;
}

.user-menu .drop-down {
  display: none;
  position: absolute;
  top: 210%;
  right: 0;
  background: #ffffff;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(24, 23, 23, 0.2);
  z-index: 1001;
  width: 250px;
}

.user-menu .drop-down.show {
  display: block;
}

.user-menu .drop-down .profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-menu .drop-down .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-menu .drop-down a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
}

.user-menu .drop-down a:hover {
  background: #107191;
}

/* SIDEBAR */
#side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: linear-gradient(180deg, #0F87AF, #0C417C, #0A0D55);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#navbar-logo {
  display: flex;
  width: 90%;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #FEFDFD75;
  color: #D30909;
  margin: 10px 0;
  border: 2px solid #0C417C;
  border-radius: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

li {
  list-style: none;
  margin-bottom: 15px;
  padding-left: 40px;
  text-align: justify;
}

a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: color 0.3s;
}

a:hover {
  color: yellow;
}

/* SUBMENUS */
.sub-menu {
  display: none;
  width: 90%;
  margin-top: 5px;
  list-style: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.sub-menu li {
  margin-block: auto;
  padding-left: 10px;
}

.sub-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.sub-menu li a:hover {
  color: #00bcd4;
}

.submenu-toggle {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 0;
}

.submenu-toggle:hover {
  color: yellow;
}

.caret {
  margin-left: 10px;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.has-submenu .sub-menu {
  display: none;
}
.has-submenu.open .sub-menu {
  display: block;
}
.has-submenu.open .caret {
  transform: rotate(180deg);
}

/* MAIN CONTENT */
.main-content {
  margin-left: 300px;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 300px);
  height: calc(100vh - 60px);
  overflow: auto;
  position: relative;
  z-index: 0;
}

.bt_yeucau {
  background-color: #125394;
  color: white;
  border: none;
  padding: 6px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
  transition: background 0.2s;
}

.bt_yeucau:hover {
  background-color: #aec82d;
}