{% extends 'main.html' %}
{% block main-content %}
<div class="product-info">
    <h2>Thông tin sản phẩm</h2>
    <form>
        <div class="form-group">
            <label for="export-date">Ngày xuất:</label>
            <input type="date" id="export-date" name="export-date">
        </div>
        <div class="form-group">
            <label for="customer-name">Họ tên khách hàng:</label>
            <input type="text" id="customer-name" name="customer-name">
        </div>
        <div class="form-group">
            <label for="phone-number">Số điện thoại:</label>
            <input type="text" id="phone-number" name="phone-number">
        </div>
        <div class="form-group">
            <label for="staff-name">Nhân viên:</label>
            <input type="text" id="staff-name" name="staff-name">
        </div>
        <h3>Hàng Cần Xuất</h3>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hàng</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Đơn vị</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>SP01</td>
                    <td>Laptop Asus Vivobook</td>
                    <td>Laptop Asus Vivobook 15</td>
                    <td>1</td>
                    <td>Máy</td>
                    <td>13,200,000</td>
                    <td>13,200,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>SP02</td>
                    <td>Chuột</td>
                    <td>Chuột Bluetooth</td>
                    <td>1</td>
                    <td>Cái</td>
                    <td>200,000</td>
                    <td>200,000</td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Xác nhận</button>
    </form>
</div>
{% endblock main-content %}