.category-container {
    padding: 30px;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
}

.add-button-wrapper {
    margin-left: auto;
}

.add-button {
    background-color: #428bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px;
}

.search-bar .search-icon {
    color: #555;
    cursor: pointer;
    font-size: 18px;
}

.category-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}

.category-table th {
    background-color: #a6d7ff;
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.category-table td {
    padding: 10px;
    border: 1px solid #ccc;
}
.category-table tbody tr:hover {
    background-color: #e0f0ff; /* màu xanh nhạt khi hover */
    cursor: pointer; /* đổi con trỏ chuột */
    transition: background-color 0.2s ease-in-out;
}
