{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/products/main.css' %}">
    {% block link%}

    {% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
        <header>
            <section id="login-bar">
                {% include 'includes/login-bar.html' %}
            </section>
        </header>

        <main>
            <aside id="side-bar">
                {% include 'includes/side-bar.html' %}
            </aside>

            <section class="main-content">
                {% block main-content %}{% endblock %}
            </section>
        </main>

        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>