<a href='{% url 'sale-staff-home' %}' id="navbar-logo" class="logo">
    Phi Long
</a>
{% load static %}
<!-- PROFILE SECTION -->

<div class="sidebar-profile">
  <img   src="{% static 'images/avatar-vo-tri-7.jpg' %}" alt="Andrew Bennet" class="profile-img" style="width:140px; height:140px;margin: 0px 20px 20px 20px; border-radius:50%; object-fit:cover;"/>
  {% if user_name %}
    <div class="profile-name" style="font-size:20px; text-align:center; color:#ffffff">
      {{ user_name }}
    </div>
        <div class="status" style="color: #2DB94D; font-size: 18px; text-align: center; margin-top:10px">Online</div>

  {% else %}
    <div class="profile-name" style="…">Khách</div>
  {% endif %}
</div>

<ul>
    <li><a href="{% url 'products-info' %}"><i class="fas fa-info-circle icon"></i> Thông tin sản phẩm</a></li>
    <li><a href="{% url 'import-management' %}"><i class="fas fa-box icon"></i> Nhập hàng khách trả</a></li>
    <li class="has-submenu">
        <div class="submenu-toggle">
            <i class="fas fa-truck icon"></i> Quản lý xuất hàng
            <i class="fas fa-caret-down caret"></i>
        </div>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'create-request' %}">
                    <i class="fas fa-tasks icon"></i> Tạo yêu cầu xuất hàng
                </a>
            </li>
            <li>
                <a href="{% url 'export-request' %}">
                    <i class="fas fa-file-export icon"></i> Yêu cầu xuất hàng
                </a>
            </li>

        </ul>
    </li>


</ul>

<style>
    .icon {
        font-size: 16px;
        margin-right: 10px;
    }
</style>