<a href='{% url 'warehouse-staff-home' %}' id="navbar-logo" class="logo">
    Phi Long
</a>

<ul>
    <li><a href="{% url 'warehouse-staff/inventory' %}"><i class="fas fa-box icon"></i> Quản lý nhập hàng</a></li>
    <li class="has-submenu">
        <div class="submenu-toggle">
            <i class="fas fa-truck icon"></i> Quản lý xuất hàng
            <i class="fas fa-caret-down caret"></i>
        </div>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'warehouse-staff/export-request' %}">
                    <i class="fas fa-file-export icon"></i> Yêu cầu xuất hàng
                </a>
            </li>
            <li>
                <a href="{% url 'warehouse-staff/export-detail' %}">
                    <i class="fas fa-tasks icon"></i> Trạng thái yêu cầu
                </a>
            </li>
        </ul>
    </li>


</ul>

<style>
    .icon {
        font-size: 16px;
        margin-right: 10px;
    }
</style>